{{ define "header" }}
    {{ partial "nextTitlePrev.html" . }}
    <hr/>
{{ end }}

{{ define "main" }}
<div class="card text-bg-light mt-0 mb-3 float-lg-end col-lg-4 col-xl-3" >
    <div class="card-header">
        {{ .CurrentSection.Title }}
    </div>
    <div class="card-body">
        {{ with .Parent }}
            <p><a href="{{ .Permalink }}" style="text-decoration: none;"><i class="bi bi-arrow-90deg-up"></i> {{ .Title }}</a></p>
        {{ end }}
        <ul>
            {{ $currentURL := .Permalink }}
            {{ range (where .Site.RegularPages.ByWeight "Section" .Section ) }}
                <li><a href="{{ .Permalink }}" style="text-decoration: none; {{ if eq .Permalink $currentURL }}font-weight: bold;{{ end }}">{{ .Params.title }}</a></li>
            {{ end }}
        </ul>
    </div>
</div>
<h1 class="h4 m-0" style="color: var(--bs-gray);">{{ .CurrentSection.Title }}</h1>
<h1 class="display-1"><i class="bi bi-card-checklist"></i> {{ .Title }}</h1>
{{ .Content }}
{{ end }} 

{{ define "footer" }}
    {{ partial "nextPrev.html" . }}
{{ end }}