{{ define "moron" }}
<div class="card text-bg-light mb-3" style="width: 18rem; float: right;">
    <div class="card-header">
        {{ .CurrentSection.Title }}
    </div>
    hello
    <div class="card-body">
        {{ with .Parent }}
            <p><a href="{{ .Permalink }}" style="text-decoration: none;"><i class="bi bi-arrow-90deg-up"></i> {{ .Title }}</a></p>
        {{ end }}
        <ul>
            {{ range .Pages }}
                <li><a href="{{ .Permalink }}" style="text-decoration: none;">{{ .Params.title }}</a></li>
            {{ end }}
        </ul>
    </div>
</div>

{{ .Content }}
{{ end }}
